@use "bootstrap/dist/css/bootstrap.min.css";
@use "./variables" as *;
@use "./mixins" as *;
@use "./normalize";
@use "./overrides";

body {
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}