@use "bootstrap/dist/css/bootstrap.min.css";
@use "./variables" as *;
@use "./mixins" as *;
@use "./normalize";
@use "./overrides";

body {
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.shifting-accent {
  background: linear-gradient(135deg,
      #0ea5e9,
      #38bdf8,
      #14b8a6);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: accentShift 5s ease-in-out infinite;
}

@keyframes accentShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}